.map{
  height: 100%;
}
.map img {
  max-height: none !important;
}
.maps-container-grid {
  height: 100%;

  &>ion-row {
    height: 100%;

    ion-col {
      display: flex;
      flex-direction: column;
    }
  }

  google-map {
    flex: 1;
  }
}
.editor {
  width: 100%;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties

.slides-wrapper {
  height: 100%;
}
.swiper-slide {
  overflow-y: scroll;    
  display: block;    
}
